<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')%>
  </head>
  <body>
    <main>
      <div>
        <% notes.forEach((note) => { %>
        <p>
          title <%= note.title %>, description <%= note.description %> content
          <%= note.content %>
        </p>
        <% }) %>
      </div>
    </main>

    <footer><%- include('./partials/footer')%></footer>
  </body>
</html>
